@charset "utf-8";


.order-table-listNew table tr td .ordService-p{position:relative;width:100%;height:100%;text-align:center;}
.order-table-listNew table tr td .ordService-p img{cursor:pointer;}
.order-table-listNew table tr td .ordService-p .service-absBox{right:20px;font-size:12px;height:100%;position:absolute;}

.service-absBox{position:absolute;cursor:text;background:#fff;width:210px;border:solid 0px #e2e2e2;overflow:hidden;}
.service-absTit{width:100%;border-bottom:1px #e2e2e2 dashed;text-align:center;line-height:38px;}
.service-absTit a{color:#005aa0;}
.service-listBox{padding:10px 15px;overflow:hidden;border-bottom:1px #e2e2e2 dashed;}
.service-listBox h3{color:#404040;font-weight:normal;font-size:12px;}
.service-listBox ul li img{float:right;margin-top:8px;}
.service-listBox ul li{width:100%;height:30px;line-height:30px;}
