@charset "utf-8";
/* CSS Document */
/*头部样式*/
.header{width:100%; background:url(../images/register_back.jpg) repeat-x; line-height:30px;margin-top:0;}
.header1{width:980px; margin:0 auto; height:auto;height:30px; }
.header1_left{ float:left;}
.header1_left span{ background:url(../images/register_star.png) no-repeat; height:13px; width:13px; display:block; margin:8px 5px 0 0; float:left; display:inline; cursor:pointer;}
.header1_left a{color:}
.header1_right{float:right; width:500px; text-align:right;}
.header1_right li{float:right; padding:0 3px;}
.right_li1 a{padding:0 3px; color:#005aa0;}
.right_li1 strong{color:#f87e07;}
.right_li2 a{display:block; color:#005AA0;}
/*头部样式*/
/*一级导航全部商品展开*/
.my_left_category {width:205px;font-size:12px;font-family:arial, sans-serif;letter-spacing:2px;z-index:100;}
.my_left_category h1 {height:30px;background-repeat:no-repeat;font-size:14px;font-weight:bold;padding:0 10px; line-height:30px;margin:0px;color:#FFF;background:#E4393C;}
.my_left_category .my_left_cat_list {width:201px;border-color:#E4393C;border-style:solid;border-width:0px 2px 2px 2px;line-height:13.5pt;}
.my_left_category .my_left_cat_list h2 {margin:0px;padding:3px 5px 0px 9px;}
.my_left_category .my_left_cat_list h2 a {color:#d6290b;font-weight:bold;font-size:14px;line-height:30px;}
.my_left_category .my_left_cat_list h2 a:hover {color:#d6290b;font-weight:bold;font-size:14px;line-height:30px;}
.my_left_category .h2_cat {width:200px;height:30px;background-image: url(../images/product_back.jpg);background-repeat:no-repeat;line-height:30px;font-weight:normal;color:#333333;position:relative;border-bottom:1px solid #ccc;}
.my_left_category .h2_cat_1 {width:200px;height:30px;background-repeat:no-repeat;line-height:30px;font-weight:normal;color:#333333;position:relative;border-bottom:1px solid #ccc;}
.my_left_category a {font:12px;text-decoration:none;color:#333333;}
.my_left_category a:hover {text-decoration:underline;color:#ff3333;}
.my_left_category h3 {margin:0px;padding:0px;height:30px;font-size:12px;font-weight:normal;display:block;padding-left:15px;}
.my_left_category h3 span {color:#999999;width:145px;float:right;}
.my_left_category h3 a {line-height:30px;font-size:14px;color:#666;}
.my_left_category .h3_cat {display:none;width:520px;position:absolute;left:195px;margin-top:-32px;cursor:auto;background:#b5b3b3;}
.my_left_category .shadow {position:inherit;width:504px;}
.my_left_category .shadow_border {position:inherit;width:520px;border:1px solid #ccc;box-shadow:4px 6px 6px #b5b3b3;margin-top:1px;border-left-width:0px; background:url(../images/index_back_right.jpg) repeat-y 351px top #fff;margin-bottom:3px}
.shadow_left{width:330px; float:left; overflow:hidden; padding:0 10px; margin-left:1px; background:#fff; border-right:1px solid #eeeeec;display:inline;}
.shadow_right{width:150px; float:left; margin-left:10px; display:inline; overflow:hidden;}
.shadow_dl_tj{width:150px; overflow:hidden;}
.shadow_dl_tj dt{width:150px;}
.shadow_dl_tj dt strong{color:#666; font-size:14px;}
.shadow_dl_tj dd{width:150px; height:auto; overflow:hidden; line-height:25px;}
.shadow_dl_tj dd a{margin-right:10px; color:#ea8621;}
.shadow_dl_tj dd a.red{color:#E4393C}
.shadow_dl_sp {list-style:none;padding-left:10px;background-repeat:no-repeat;background-position:0px 8px;color:#ccc;padding:0;width:330px;height:auto;overflow:hidden;margin-bottom:10px;border-bottom:1px dotted #ccc;}
.shadow_dl_sp dt {width:80px;height:30px;float:left;line-height:30px;overflow:hidden;}
.shadow_dl_sp dt strong a{color:#e4393a;}
.shadow_dl_sp dd {width:250px;float:left;}
.shadow_dl_sp dd span {padding:0 3px;}
.shadow_dl_sp dd a {color:#666666;}
.shadow_dl_sp dd a:hover {color:#cc0000;}
.my_left_category .active_cat {z-index:99;box-shadow:0 1px 5px 1px #b5b3b3;border-top:1px solid #ccc;border-bottom:1px solid #ccc;cursor:pointer;height:30px;background:#fff;}
.my_left_category .active_cat h3 {font-weight:bold;	width:203px;}
.my_left_category .active_cat h3 span {	display:none;}
.my_left_category .active_cat div {display:block;}
.border_title {color:#333;}
/*一级导航全部商品展开*/
/*搜索样式*/
.mine_cart_dl,.mine_cart_dls{float:left; height:35px;position: relative;width: 100px;z-index: 9;}
.mine_cart_dls{width:157px;}
.mine_cart_dl dt ,.mine_cart_dl:hover dt,.mine_cart_dls dt,.mine_cart_dls:hover dt{ background:url(../images/search_pic1s.jpg); cursor: pointer; height: 35px;line-height: 35px; width:80px; text-align:center; position: absolute;text-align: center;z-index: 1; padding-left:20px;}
.mine_cart_dl:hover dt,.mine_cart_dls:hover dt { background:url(../images/search_pic1ss.jpg) no-repeat; height:36px;}
.mine_cart_dl dt a,.mine_cart_dls a{color:#666;}
.mine_cart_dls dt,.mine_cart_dls:hover dt{ background:url(../images/search_pic2.jpg); width:137px;}
.mine_cart_dls:hover dt { background:url(../images/search_pic2s.jpg) no-repeat; height:36px;}
.mine_cart_dl dt span,.mine_cart_dls dt span {color: #005EA7;font-family: "宋体";}
.mine_cart_dl dd,.mine_cart_dls dd {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #E3E3E3;display: none;position: absolute;right: 0;top: 35px;width: 220px;}
.mine_cart_dl:hover dd,.mine_cart_dls:hover dd {box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);display: block;}
.mine_cart_dls{margin-left:10px; display:inline;}
.mine_cart_dls:hover dd {width:300px;}
.prompt {border-bottom: 1px solid #EEEEEE;line-height: 25px;overflow: hidden;padding: 0 6px 0 9px; text-align:right;}
.prompt a{color:#F00; font-weight:bold; cursor:pointer;}
.prompts {border: 1px solid #ccc;line-height: 25px;overflow: hidden; text-align:left;}
.orderlist {border-bottom: 1px solid #E6E6E6;padding: 8px 5px;width: 160px;}
.orderlist li {border-top: 1px dotted #CCCCCC;overflow: hidden;}
.orderlist .fore1 {border-top: 0 none;}
.orderlist span {color: #FF6600;}
.orderlist {padding-top: 2px;}
.uclist {margin: 5px 0;overflow: hidden;width: 220px;}
.mine_cart_ul {padding: 0 10px;width: 200px;}
.mine_cart_ul li{width:100px; float:left;}
.uclist a:link, .uclist a:visited {color: #005EA7;overflow: hidden; padding: 5px; text-decoration:none; line-height:25px;}
.uclist a:hover{ color:#fa7c0b;}
#mine_cart dl:hover dd {display:block;}
.mine_cart_table{width:300px;}
.mine_cart_table tr{height:60px;}
.mine_cart_table tr td{ border-bottom:1px dotted #ccc; overflow:hidden; padding-left:10px;}
.mine_cart_table tr td a img{display:block; border:1px solid #ccc; height:50px; height:50px;}
.mine_cart_table tr td p{ line-height:20px; min-height:20px; max-height:40px; overflow:hidden;}
.search, .line_1 {width:980px;height:auto;margin:10px auto 0;}
.line_1 {margin-top:0;width:980px;height:60px;}
.search_logo {float:left;height:48px;width:128px;margin-right:40px;display:inline;}
.search_border {overflow:hidden;width:495px;float:left;margin-right:20px;display:inline;}
.search_border p {width:495px;height:38px;background:#e4393c;float:left;border-radius:3px;}
.search_border p input {height:30px;float:left;width:380px;border:0;line-height:30px;padding:0 10px; margin:4px;display:inline-block;}
.search_border p a {cursor:pointer;color:#fff;font-weight:bold;font-size:14px;display:block;width:80px;text-align:center;line-height:40px;float:left;}
.search_border p a:hover {text-decoration:none;}
.search_hot {overflow:hidden;width:400px;height:20px;line-height:20px;}
.search_hot li, .search_hot li a {display:block;float:left;margin-right:10px;}
.search_hot li a:hover {text-decoration:none;color:#ff0000;}
.search_btn {float:right;margin-top:3px; width:267px; display:inlie;}
.line_2 {width:980px;background:#e4393c;height:36px;line-height:36px;margin:5px 0 0;}
.line_left {width:205px; height:36px;float:left;}
.line_name_all{display:block;width:205px;text-align:center;color:#FFF;font-weight:bold; cursor:pointer; position:absolute; font-size:14px;}
.line_name_all a{color:#fff;}
.line_name_all a:hover{color:#fff; text-decoration:none;}
.my_left_category{display:none; position:relative; background:#fff; top:36px;}
.line_title{ position:relative;}
.line_title:hover .my_left_category{display:block;}
.line_product {border:1x solid #000;}
.line_right {width:320px;height:36px;overflow:hidden; float:left;}
.line_right li a {width:80px;float:left;display:block;color:#fff;text-align:center;}
.line_right li a:hover {text-decoration:none;}
.line_right_on {background:#b60005;font-weight:bold;}
.line_product {width:205px;overflow:hidden;display:none;}
/*搜索样式*/
/*流程示意图*/
.reg_flow{width:980px; overflow:hidden;}
.reg_no{ float:left;}
.reg_step,.reg_content{float:left;}
.reg_content strong{ font-size:14px; color:#cccccc;}
.reg_step{ line-height:30px; font-size:16px; font-weight:bold; margin-right:5px; display:inline; width:30px; text-align:center;}
.reg_no a{display:block; background:url(../images/register_gray.png) no-repeat; height:30px; padding-bottom:5px; border-bottom:2px solid #cccccc; }
.reg_no a:hover{ background:url(../images/register_red.png) no-repeat; border-bottom:2px solid #F00; color:#F00;}
.reg_no1,.reg_no1s,.reg_no2,.reg_no2s,.reg_no3,.reg_no3s{float:left;height:34px;}
.reg_no1s{width:382px; margin-right:3px;  background:url(../images/register_no1s.png) no-repeat; }
.reg_no1{width:382px;  margin-right:3px;background:url(../images/register_no1.png) no-repeat;}
.reg_no2s{  width:402px; margin-right:3px; background:url(../images/register_no2s.png) no-repeat;}
.reg_no2{width:402px; margin-right:3px; background:url(../images/register_no2.png) no-repeat;}
.reg_no3s{width:190px;  background:url(../images/register_no3s.png) no-repeat;}
.reg_no3{width:190px; background:url(../images/register_no3.png) no-repeat;}
.register_text{width:978px; height:215px; border:1px solid #cccccc; font-size:12px;}
.register_p{ margin:10px 0 5px; line-height:16px;}
.register_p img{display:block; float:left; margin-right:5px; display:inline;}
.register_center{ text-align:center; margin:10px auto; width:110px; line-height:20px;}
.register_center input{ display:block; float:left; margin-right:5px; display:inline;}
.register_btn{width:222px; margin:10px auto; overflow:hidden;}
.reg_qx{ cursor:pointer; display:block; float:left; border:none; width:200px; height:31px; line-height:31px; text-align:center; color:#ffffff; font-weight:bold;}
.reg_qx{ background:url(../images/register_qx.jpg) no-repeat; color:#666666; margin-right:80px;}
/*流程示意图*/


/*注册信息*/
.reg_all{width:980px;margin:10px auto; height:auto; overflow:hidden;}
.reg_top{width:210px; margin-left:250px; overflow:hidden;}
.onclick, .onclicks {width: 94px;height: 31px;float: left;cursor: pointer;text-align: center;line-height: 34px; margin-right:10px;text-decoration:none;font-size:14px;font-weight:bold;}
.onclick {color:#666666;background:url(../images/register_list.jpg) no-repeat;}
.onclicks {color:#e12326;	background:url(../images/register_liston.jpg) no-repeat;}
.reg_body{width:978px; border:1px solid #dedddd; height:auto; overflow:hidden;}
.reg_one {width: 470px;height: auto;margin-left:250px;padding:10px 0;}
.reg_one h3{color:#343333; font-size:14px; }
.reg_text{width:600px; overflow:hidden; margin:15px 0; min-height:43px;}
.reg_text_p1,.reg_text_p2,.reg_text_p2s,.reg_text_p3{float:left; margin-right:10px; display:inline;}
.reg_text_p1{width:110px; line-height:26px; text-align:right; color:#34333; font-size:12px; }
.reg_text_p1 span{color:#ff0000; padding:0 10px;}
.reg_text_p2 input,.reg_text_p2 span{ display:block;}
.reg_text_p2 input{width:188px; height:24px; line-height:24px; padding:0 5px; border:1px solid #cccccc; color:#cccccc;}
.reg_text_p2 span{color:#cccccc; margin-top:3px;}
.reg_text_p2s img{display:block; float:left; margin-left:10px; display:inline;}
.reg_text_p2s input,.reg_text_p2s span{ display:block;}
.reg_text_p2s input{width:288px; height:24px; line-height:24px; padding:0 5px; border:1px solid #cccccc; color:#cccccc;}
.reg_text_p2s span{color:#cccccc;margin-top:3px;}
.reg_text_p2s img{display:block; float:left; margin-left:10px; display:inline;}
span.red{color:#ff0000;}
.reg_text_p3 img{display:block; margin-top:5px;}
.password_3,.password_2,.password_1{ display:block; float:left; margin:2px 3px 0 0; display:inline;width:40px; height:14px;}
.password_1{ background:url(../images/password1.jpg)  no-repeat;}
.password_2{ background:url(../images/password2.jpg)  no-repeat;}
.password_3{ background:url(../images/password3.jpg)  no-repeat;}
.reg_btn{width:200px; margin:10px 0 10px 120px;}
.reg_btn_zc,.reg_sure{ text-align:center; cursor:pointer; background:url(../images/reg_btn_zc.png) 0 0 no-repeat; width:222px; height:30px; line-height:31px; color:#fff; font-size:14px;font-weight:bold; display:block; border:none;}
.reg_btn_zc:hover,.reg_sure:hover{color:#fff; background:url(../images/reg_btn_zc.png) 0 -35px no-repeat;}
.reg_margin{ width:200px; height:30px;}
.reg_text_add{overflow:hidden; }
.reg_text_add select{display:block; float:left; width:100px; border:1px solid #cccccc; height:24px;}
.a_change{display:block; float:right; line-height:25px; color:#005aa0;}
a.a_change:hover{color:#ff6600;}
.reg_text_type{float:left; margin-right:20px; margin-top:10px; display:inline;}
.reg_text_type input{display:block; float:left; width:10px; height:10px; border:none;}
/*注册信息*/

/*注册成功提示*/
.register_success{width:678px; height:290px; border:1px solid #cccccc; margin-top:20px; padding:30px 150px; text-align:left;}
.register_success p{margin-bottom:10px; overflow:hidden;}
.register_pic{text-align:center;}
.register_success p strong{font-size:14px; text-align:left;}
.register_btns{display:block; border:none 0; float:left; background:url(../images/register_btn_red.jpg) no-repeat; width:90px; text-align:center; line-height:30px; height:30px; color:#ffffff; cursor:pointer;}
.register_btns:hover{color:#fff;}
.register_yellow{ background:#fefef1; border:1px solid #ffeec4; padding:10px;}
.register_yz dl{width:338px; float:left; margin-top:15px; display:inline;}
.register_yz dl dt{width:90px; float:left; text-align:right;}
.register_yz dl dd{width:130px; float:left; text-align:left; line-height:20px;}
.register_yz dl dd a{color:#8a2c26; font-weight:bold;}
/*注册成功提示*/
/*登录*/
.login_body{width:898px; margin:20px auto;  height:325px;  overflow:hidden; border:1px solid #cccccc;}
.login_left{float:left;}
.login_border{ float:left; width:315px; height:auto; overflow:hidden; margin:30px 0 0 10px; display:inline;}
.login_line{min-height:75px; margin-bottom:5px;}
.login_line span,.login_line input{ display:block;}
.input_normal{width:295px; height:34px; border:1px solid #cccccc; padding:0 5px; color:#cccccc; line-height:34px;}
.input_red{border:1px solid #ff0000; color:#ff0000;}
.login_name,.login_pwd{color:#999999; line-height:25px;}
.login_red{color:#ff0000; margin-top:3px;}
.login_gray{color:#cccccc;margin-top:3px;}
.login_remember{overflow:hidden;height:56px;}
.login_remember input{ display:block; float:left; line-height:31px;}
.login_remember a{float:right; color:#0066cc; text-decoration:none;}
.login_btn{overflow:hidden; margin-top:5px; line-height:31px;}
.login_btn input{border:none 0; display:block; float:left;  background:url(../images/login_btn.jpg) no-repeat; width:179px; height:31px; cursor:pointer;}
.login_btn a{float:left; margin-left:10px; color:#0066cc;}
.login_btn a:hover{color:#ff6600;}
/*登录*/

/*账户安全*/
.safe_add{ line-height:30px;}
.safe_left{width:205px; float:left;}
.safe_right{width:760px; float:right; overflow:hidden;}
.safe_title{width:760px; height:30px; line-height:30px; background:url(../images/safe_line1.jpg) no-repeat left bottom;}
.safe_title strong{ font-size:14px; color:#b60005;}
.safe_tishi{width:738px; margin:10px 0; line-height:37px; background:#fefef1; border:1px solid #ffeec4; padding:0 10px;}
.tishi_span,.tishi_span strong{ font-size:14px; font-weight:bold; color:#343333;}
.tishi_span strong{color:#7b0000;}
.safe_table{width:688px; border:1px solid #cccccc; overflow:hidden; padding:50px 35px 0;}
.safe_dl{ width:688px; overflow:hidden; margin-bottom:50px;}
.safe_dt{width:155px; float:left; margin-right:20px;}
.safe_dt strong{font-size:24px; font-weight:bold; color:#343333; margin:0 5px 0 10px;}
.safe_dd{ line-height:30px; float:left; display:inline; width:405px; margin-right:10px;}
.safe_dd2{ line-height:30px; width:70px; text-align:center; float:left}
.color_1{color:#e4393c;}/*红色*/
.color_2{color:#9b9b9b;}/*浅灰色*/
.color_3{color:#666666;}/*深灰色*/
.color_4{color:#005aa0;}/*蓝色*/
.color_5{color:#ea9040;}/*橘黄色*/
.color_6{color:#79be53;}/*绿色*/
/*账户安全*/

/*账户信息*/
.Info_table{ width:758px; height:auto; overflow:hidden;}
.Info_yop {height: 28px;width: 758px; background:url(../images/Info_back.jpg) repeat-x;}
.Info_onclick, .Info_onclicks {width: 89px;height: 28px;float: left;cursor: pointer;text-align: center;line-height: 28px; color:#666666;}
.Info_onclick {border-bottom: 1px solid #FFF;background:url(../images/Info_title.jpg) no-repeat; width:89px; color:#7b0000; font-weight:bold;}
.border_body {width:758px;height: auto; overflow:hidden;}
.border_one {width: 726px;height:auto;  overflow:hidden; padding: 10px 15px 20px; border: 1px solid #ccc;border-top: none;}
.Info_list{ width:560px; overflow:hidden; float:left;}
.Info_list tr{ line-height:40px; margin-bottom:10px;}
.Info_td_name{width:230px; text-align:right; padding-right:10px; color:#666666;}
.Info_td_name strong{padding:0 3px; color:#ff0000;}
.Info_td_content input{ width:238px; height:22px; border:1px solid #ababab; padding:0 5px;}
.Info_td_content strong{color:#343333;}
.Info_td_content strong,.Info_td_content span,.Info_td_content a,.Info_td_content select{margin-right:10px; float:left; display:inline;}
.Info_btn_yz img{display:block; margin-top:7px;}
.Info_td_content em{ font-style:normal; color:#343333;}
.select_small{width:77px; height:22px; border:1px solid #ababab;}
.select_normal{width:248px; height:22px; border:1px solid #ababab;}
.Info_td_content textarea{ display:block; float:left; width:238px; height:50px; line-height:20px; border:1px solid #ababab; padding:5px;}
a.Info_btn_update{ display:block; background:url(../images/Info_btn_tj.jpg) no-repeat; width:100px; height:30px; line-height:30px; text-align:center; color:#fff; font-weight:bold; letter-spacing:5px;}
a.Info_btn_update:hover{ text-decoration:none;}
.Info_head{ width:125px; height:120px; float:left;}
.Info_head p{width:105px; height:100px; float:left;  margin-top:30px; display:inline; border:1px solid #f2f2f2;box-shadow:1px 0 1px 0 #e3e3e3; padding:10px; text-align:center;}
.Info_head a{ text-align:center; width:125px; display:block; line-height:25px; text-decoration:none;}
/*账户信息*/


/*购物车页面*/
.cart_body{width:980px;  height:auto; overflow:hidden;}
.cart_left{width:756px; height:auto; float:left; overflow:hidden;}
.cart_line{width:754px; height:auto; overflow:hidden; margin:15px  auto 0;}
.cart_line h3,.cart_chockout,.cart_next{display:block; float:left;text-align:center;}
.cart_line h3{ width:390px; padding-left:20px;}
.cart_chockout,.cart_next{height:41px; line-height:41px;  color:#fff; font-weight:bold; font-size:16px; margin-left:20px; display:inline; text-decoration:none;}
.cart_chockout:hover,.cart_next:hover{ text-decoration:none;}
.cart_chockout{ background:url(../images/cart_btn_big.jpg) no-repeat; width:194px;}
.cart_next{ background:url(../images/cart_btn_gray.jpg) no-repeat; width:103px; color:#666;}
.cart_line_title{line-height:30px; font-weight:bold; font:14px/1.5;}
.cart_line_body{width:714px; height:auto; overflow:hidden; border:1px solid #ccc; border-top:2px solid #666666; padding:15px 15px 0;}
.cart_line_dl{width:224px; float:left; margin-left:14px; margin-bottom:15px; display:inline;}
.cart_line_dl dt,.cart_line_dl dd{float:left;}
.cart_line_dl dt{width:68px; margin-right:10px;}
.cart_line_dl dd{width:145px; padding:5px 0;}
.cart_line_dl dd p{max-height:40px; overflow:hidden; font:12px/1.5 "Arial","Verdana","sans-serif"; margin-top:5px; color:#666;}
.cart_line_dl dd p strong{margin-right:10px;}
.cart_line_dl dd p del{ font-size:11px;}
.cart_btn_jr{display:block; width:83px; line-height:23px; text-align:center; border:1px solid #cccccc; color:#666666;background:-webkit-gradient(linear,0 0,0 100%,from(#fdfdfd),to(#e6e6e6));background:-moz-linear-gradient(top,#fdfdfd,#e6e6e6); text-decoration:none;}
.cart_btn_jr:hover{ text-decoration:none;}
.cart_right{ float:right; overflow:hidden; width:208px; max-height:699px; border:1px solid #dddddd; border-top:2px solid #999999; margin-top:17px;}
.cart_right_title{width:188px; padding-left:40px; line-height:30px; background:#f2f2f2 url(../images/cart_icon_car.png) no-repeat 10px center; color:#666; height:30px;}
.cart_right_body{max-height:570px; width:198px; margin:0 auto; overflow:hidden;}
.cart_right_dl{ width:198px; height:74px; overflow:hidden; border-bottom:1px dotted #ccc; padding:10px 0;}
.cart_right_dl dt,.cart_right_dl dd{float:left;}
.cart_right_dl dt{width:70px; margin-right:10px; display:inline;}
.cart_right_dl dd{width:110px;}
.cart_right_dl dd p{max-height:45px; overflow:hidden;margin-top:5px; letter-spacing:1.5;}
.cart_right_dl dd p a:hover{color:#e4393c;}
.cart_footer{ background:#f2f2f2; width:208px; overflow:hidden; height:90px;}
.cart_footer p{line-height:25px; padding:0 10px; color:#666666;}
/*购物车页面*/


/*修改密码*/
.yz_p1,.yz_p2,.yz_p3{ background:url(../images/yz_back_mm.jpg) no-repeat; width:758px; height:21px; margin:10px 0;}
.yz_p2{ background-position:0 -21px;}
.yz_p3{ background-position:0 -42px;}
/*修改密码*/
.xgyzsj_p1,.xgyzsj_p2,.xgyzsj_p3{ background:url(../images/yz_back_xgsj.jpg) no-repeat; width:758px; height:21px; margin:10px 0;}
.xgyzsj_p2{ background-position:0 -21px;}
.xgyzsj_p3{ background-position: 0 -42px;}
/*修改手机*/
.xgsj_p1,.xgsj_p2,.xgsj_p3{ background:url(../images/yz_back_sj.jpg) no-repeat; width:758px; height:21px; margin:10px 0;}
.xgsj_p2{ background-position:0 -21px;}
.xgsj_p3{ background-position: 0 -42px;}
/*验证手机*/
.xgyx_p1,.xgyx_p2,.xgyx_p3{ background:url(../images/yz_back_yx.jpg) no-repeat; width:758px; height:21px; margin:10px 0;}
.xgyx_p2{ background-position:0 -21px;}
.xgyx_p3{ background-position: 0 -42px;}
/*验证邮箱*/
.xgyzyx_p1,.xgyzyx_p2,.xgyzyx_p3{ background:url(../images/yz_back_xgyx.jpg) no-repeat; width:758px; height:21px; margin:10px 0;}
.xgyzyx_p2{ background-position:0 -21px;}
.xgyzyx_p3{ background-position: 0 -42px;}
/*修改邮箱*/
.table_xgmm{width:758px; border:1px solid #cccccc; padding:15px 0; overflow:hidden;}
.table_xgmm tr{ line-height:25px; }
.xgmm_td{width:740px;  line-height:25px;}
.xgmm_span1,.xgmm_span2,.xgmm_redspan{width:198px; display:block; float:left; text-align:right; margin-right:10px;}
.xgmm_span1{height:25px;}
.xgmm_span2,.xgmm_redspan{width:500px; text-align:left;}
.xgmm_redspan{color:#E4393C;}
.xgmm_line{min-height:25px;width:500px; float:left;}
.xgmm_line input,.xgmm_span2{display:block;}
.yz_change,.xgmm_line img{line-height:25px; display:block; float:left;}
.xgmm_line img{ margin-right:10px;}
.xgmm_line input{width:175px; height:24px; border:1px solid #cccccc; color:#666666; padding:0 5px; margin-right:10px;}
.yz_change{width:100px; display:inline;}
.yz_change:hover{color:#005ea7; text-decoration:none;}
.xgmm_span2{text-align:left;color:#999999;}
.yz_submit,.yz_gray,.yz_massges,.yz_massges_gray{ width:65px; height:24px; text-align:center; line-height:24px; display:block;text-decoration:none;}
.yz_submit:hover,.yz_gray:hover,.yz_massges:hover,.yz_massges_gray:hover{text-decoration:none;}
.yz_submit{ background:url(../images/yz_btn.png) no-repeat 0 -72px; color:#fff;}
.yz_gray{background:url(../images/yz_btn.png) no-repeat 0 -48px; color:#666;}
.yz_massges,.yz_massges_gray{ float:left; width:119px; line-height:24px; background:url(../images/yz_btn.png) no-repeat; color:#fff; margin-top:10px;}
.yz_massges{ background-position:0 -24px;}
.yz_massges_gray{ background-position:0 0; color:#666;}
.yz_cong{ width:285px; margin:30px auto; overflow:hidden;}
.yz_cong dt{float:left; width:35px; margin-right:10px; display:inline;}
.yz_cong dd{float:left; width:240px; color:#999;}
.yz_cong dd strong,.yz_qr dd strong{font-size:16px; color:#7abd54; font-weight:bold;}
.yz_qr{width:600px; margin:15px 0  15px 70px; overflow:hidden;}
/*修改密码*/




/*我的订单*/
.order_search{float:right; width:210px; margin-top:10px; display:inline; height:30px; text-align:right;}
.order_search input{ display:block; width:150px; height:22px; border:1px solid #ccc; float:left; margin:1px 0 0 5px; display:inline;}
.order_list{width:470px; overflow:hidden; float:left; height:30px; margin-top:10px; display:inline;}
.order_list_li,.order_list_on{ padding:0 15px; height:30px; line-height:30px; margin-right:3px; float:left; display:inline;background:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f2f2f2));background:-moz-linear-gradient(top,#ffffff,#f2f2f2); border:1px solid #ccc; cursor:pointer; border-radius:3px; color:#666;}
.order_list_li span{color:#666;}
.order_list_on span{color:#fff;}
.order_list_on{ background:#e43a3b; color:#fff; border:1px solid #b50005;}
.order_title_ul{width:758px; height:28px; line-height:28px; border:1px solid #ccc; overflow:hidden; color:#666;
background:url(../images/daohang_back.jpg) repeat-x; border:1px solid #ccc; border-top:none 0;border-bottom:none 0;}
.order_title_ul li{ float:left; text-align:center;}
.order_table{width:760px; overflow:hidden; border:1px solid #ccc; border-top:none 0; color:#666;}
.order_table_tr{height:20px; background:#f9f9f9;}
.order_table_tr td{border-bottom:1px solid #ccc; padding:0 10px; border-top:1px solid #ccc; }
.order_table_tr td span{margin-left:30px;}
.order_table_tr td span i{font-style:normal;}
.order_table tbody tr td,.order_tr_border,.order_tr_borders{text-align:center;padding:10px 5px; /*vertical-align:top;*/ line-height:20px;}
.order_table tbody tr td{padding:5px;}
.order_tr_border{ border-left:1px solid #ccc; }
.order_tr_borders td{ border-top:1px solid #ccc;}
.order_table tbody tr td a,.order_tr_border a,.order_tr_borders a{color:#005AA0; text-decoration:none;}
.order_table tbody tr td a:hover,.order_tr_border a:hover,.order_tr_borders a:hover{color:#ea9040; text-decoration:none;}
.order_img_box{ display:block; border:1px solid #ccc; float:left;  display:inline; margin:3px 1px;}
.order_img_box:hover{ border:1px solid #f79a3d;}
.order_img_text{display:block; float:left; width:205px; padding-left:5px; line-height:16px; height:50px; overflow:hidden; text-decoration:none;}
.order_img_text:hover{color:#ea9040; text-decoration:none;}
.order_tbody_nothing{border-top:1px solid #ccc; text-align:center;}
.order_tbody_nothing p{width:200px; margin:0 auto; overflow:hidden; line-height:32px;}
.order_tbody_nothing span,.order_tbody_nothing img{display:block; float:left; margin-left:3px; display:inline;}
/*我的订单*/


/*地址管理css*/
.address_new{ width:748px; height:auto; overflow:hidden;}
.address_table{width:748px; height:auto; overflow:hidden;}
.address_table tr{line-height:30px;}
.address_td1{ text-align:right; margin-right:10px; line-height:30px;}
.address_td1 span{padding-right:5px;}
.add_select{ width:110px; height:26px;  margin-right:5px;}
.add_text{width:335px; height:45px; line-height:22px; margin-right:5px; font-size:12px; color:#999; margin-top:8px; padding:5px}
.add_int{height:26px; line-height:26px; color:#999; padding:0 5px; margin-right:5px;}
.address_new p{margin-left:107px; line-height:30px;}
.address_td2  span{padding-right:5px;}
.address_list{width:758px; height:auto; overflow:hidden; border:1px solid #ccc; margin:20px 0 10px;}
.address_list thead tr{ background:url(../images/address_back.jpg) repeat-x; line-height:29px;}
.address_list thead tr td{ text-align:center;}
.address_list tbody tr{line-height:30px;}
.address_list tbody tr td{ text-align:center; padding:10px 3px; border-bottom:1px solid #ccc;}
.address_list tbody tr td span{color:#000;}
.address_list tbody tr td a{ text-decoration:none; padding:0 5px;}
.address_list tbody tr td a:hover{color:#ea9040;}
.address_back{ background-color:#f8eff0;}
/*地址管理css*/


/*订单详情页css样式表*/
.order_detail_box{width:758px; border:1px solid #ccc; border-top:2px solid #c30000; height:auto; overflow:hidden;}
.order_detail_title{line-height:38px; padding:0 15px; background:#fffceb; border-bottom:1px solid #ccc; font-size:14px;}
.order_detail_dl{ margin:15px 17px; overflow:hidden; width:718px;}
.order_detail_dl dt{ background:url(../images/order_backline.jpg) no-repeat bottom; height:30px;margin-bottom:5px; line-height:30px;}
.order_detail_dl dd{ overflow:hidden;}
.order_detail_dl dd p{padding:0 10px; line-height:30px;}
.order_detail_dl dd p span{margin-right:10px;}
.order_detail_dd p{ text-align:right;}
.order_detail_table{width:718px; height:auto; overflow:hidden; border:1px solid #ccc; margin-top:10px;}
.order_detail_table thead tr{ background:#ebebeb; height:30px; line-height:30px; overflow:hidden;}
.order_detail_table thead tr td{text-align:center;}
.order_detail_table tbody tr td{text-align:center; border-top:1px solid #ccc; border-right:1px solid #ccc; padding:0 5px;}
.order_detail_pic{display:block; height:60px; width:60px; border:1px solid #ccc; margin:0 auto;}
.order_detail_pic:hover{border:1px solid #f79a3d;}
.order_detail_text{line-height:20px; height:40px; overflow:hidden; display:block; text-align:left;}
.order_detail_text:hover{color:#f97d09;}
.order_detail_price{padding: 0 15px 10px; overflow:hidden; text-align:right; line-height:20px;}
.order_detail_flow{width:718px; margin-top:10px; height:auto; overflow:hidden; border:1px solid #ccc;}
.order_detail_flow thead tr{line-height:30px; background:#ebebeb;}
.order_detail_flow thead tr td,.order_detail_flow tbody tr td{text-align:center; border-right:1px solid #ccc;}
.order_detail_flow tbody tr td{ padding:0 5px; line-height:30px; border-top:1px solid #ccc;}
.order_step_status{width:147px; text-align:center;}


.ord_list{margin:20px auto; width:650px; overflow:hidden;}
.ord_list li{width:130px; float:left; text-align:center;}
.ord_undone .ord_step,.ord_done .ord_step,.ord_last .ord_step,.ord_first .ord_step,.ord_first .ord_done .ord_step,.ord_first .ord_undone .ord_step,.ord_last .ord_done .ord_step,.ord_last .ord_undone .ord_step{background:url(../images/cart_step.jpg) no-repeat;}
.ord_step{height:34px; line-height:34px;  background-position:50% -102px;color:#fff; font-weight:bold;}
.ord_undone .ord_step{ background-position:50% 0;}
.ord_done .ord_step{ background-position:50% -170px;}
.ord_last .ord_step{ background-position:50% -136px;}
.ord_first .ord_step{ background-position:50% -34px;}
.ord_first .ord_done .ord_step{ background-position:50% -204px;}
.ord_first .ord_undone .ord_step{ background-position:50% -204px;}
.ord_last .ord_done .ord_step{ background-position: 50% -68px;}
.ord_last .ord_undone .ord_step{ background-position:50% -136px;}
.ord_title{color:#888; font-weight:bold; text-align:center; font-size:12px; padding-bottom:5px;}
.ord_time{color:#999; text-align:center; font-size:12px; padding-top:5px; width:130px; word-wrap:break-word; break-word:break-all;word-wrap:}
/*订单详情页css样式表*/

/*商品评价页面css*/
.comment_table{width:758px; height:auto;  border:1px solid #ccc;}
.comment_table thead tr{ background:url("../images/daohang_back.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0); height:30px; line-height:30px;}
.comment_table thead tr td{text-align:center;}
.comment_table tbody tr td{border-top:1px solid #ccc; overflow:hidden;}
.comment_ul{width:748px; overflow:hidden; height:68px; padding:10px 5px; }
.comment_ul li{ float:left; margin-left:10px; display:inline; height:68px; overflow:hidden;}
.com_ul_pic a{display:block; width:66px; height:66px; border:1px solid #ccc;}
.com_ul_pic a:hover{border:1px solid #ea9040;}
.com_ul_name{width:370px;  overflow:hidden; padding-right:5px}
.com_ul_name a{ line-height:23px; color:#666;}
.com_ul_name a:hover{color:#ea9040;}
.com_ul_time{width:120px; text-align:center;}
.com_ul_state{width:140px; text-align:center;}
.comment_hide{width:656px; padding:20px 71px 20px  31px; background:#f6f6f6; border-top:1px solid #ccc;}
.com_line{width:656px; overflow:hidden; line-height:30px; margin-bottom:20px;}
.com_line_span{width:80px; text-align:right; float:left;}
.com_line_div{width:575px; float:left; overflow:hidden;}
.com_line_p1,.com_line_p2,.com_line_p3,.com_line_p4,.com_line_p5{width:115px; margin-top:8px; display:inline; float:left; height:14px; overflow:hidden; background:url(../images/discuss.png) no-repeat center;}
.com_line_p6{width:115px; margin-top:8px; display:inline; float:left; height:14px; overflow:hidden; background:url(../images/discuss.png) no-repeat left;}
.com_line_div textarea{width:560px; height:70px; margin:8px 0 10px; padding:5px; color:#999; font-size:12px; line-height:23px;}
.com_i, .com_oni { border: 1px solid #DBDBDB; color: #333333; display: inline; float: left; font-style: normal; margin: 0 3px 3px 0;padding: 0 10px;}
.com_oni { border: 1px solid #FF3F3F;}
.com_is {background: none repeat scroll 0 0 #e3e1e1; border-color: #f6f6f6 #f6f6f6 #ccc;none;border-style: solid; border-width: 1px; display: inline; float: left; font-style: normal; margin: 0 3px 3px 0; padding: 0 10px;}
/*商品评价页面css*/

/*我的关注*/
.attent_table{width:760px; height:auto; overflow:hidden;}
.attent_table thead tr{ background:url(../images/daohang_back.jpg) repeat-x; line-height:30px;}
.attent_table thead tr td{text-align:center;}
.attent_check{display:block; float:left; margin:9px 5px 0 0; display:inline;}
.attent_table tbody tr{ overflow:hidden; border-bottom:1px solid #ccc;}
.attent_table tbody tr td{text-align:center; padding:10px 0; height:52px; overflow:hidden; line-height:18px; border-bottom:1px solid #ccc;}
.attent_table tbody tr td strong{display:block;}
.attent_table tbody tr td span{color:#999999;}
.attent_img,.attent_name{display:block;}
.attent_img{width:52px; height:52px; border:1px solid #ccc;}
.attent_img:hover{border:1px solid #ea9040;}
.attent_name{color:#0055aa;}
.attent_name:hover{color:#ea9040;}
.attent_table tfoot tr td{ background:#f1f1f1; border-bottom:1px solid #ccc;}
.attent_hint{ width:60%; height:auto; overflow:hidden; margin:auto 20%;}
.attent_hint dt,.attent_hint dd{float:left;}
.attent_hint dt{width:20%;}
.attent_hint dd{padding-top:20px; text-align:left; width:80%;}
/*翻页*/
.pro_page{ overflow:hidden;}
.title_page{float:right; height:30px; line-height:30px;}
.title_page li{float:left; margin-left:10px;}
.title_page li span,.title_page li span strong{ margin-left:3px;}
.page_last,.page_next,.page_lasts,.page_nexts{display:block; height:22px; width:60px; background:url(../images/cate_back.png) no-repeat; margin-top:5px; }
.page_last{ background-position:-72px -86px;}
.page_next{ background-position:-132px -108px;}
.page_lasts{ background-position:-72px -108px;}
.page_nexts{ background-position:-132px -86px;}
.pro_page_li,.pro_page_lis{diaplay:blcok;padding:0 4px; border:1px solid #ccc; color:#666;}
.pro_page_lis{ background:#cc6600; color:#fff; border:1px solid #bd4f02;}
.pro_page_lis:hover{color:#fff;}
.pro_page_li:hover{color:#666;}
/*翻页*/




/*我的关注*/
/*退换货css样式*/
.service_table{width:760px; height:auto; border:1px solid #ccc; border-top:none 0; color:#666;}

.service_table tr td{border-bottom:1px solid #ccc;}
.service_table tr td a:hover{color:#f68617;}
.service_mtable  tbody tr td a{ display:block; float:left;color:#666;}
.service_mtable  tbody tr td a:hover{color:#f68617;}
.service_mtable tr td a img{border:1px solid #ccc;}
.service_mtable tr td a img:hover{border:1px solid #ea9040;}
.service_mtable tr td { padding:0 5px; border-bottom:1px solid #ccc;}
.service_mtable tr td span{display:block; word-wrap:break-word; break-word:bradk_all; width:90px;}
/*退换货css样式*/
/*退换货详情css*/
.yellow_msg{margin:10px 0; width:738px; padding:10px; line-height:20px; background:#FFFCEB; border:1px solid #ccc;}
.plan_box{width:758px; border:1px solid #ccc; height:auto; overflow:hidden; margin-bottom:10px;}
.plan_line{padding:0 10px; line-height:30px; border-bottom:1px solid #ccc;}
.plan_content{padding:10px; overflow:hidden;}
.plan_content p strong{margin-right:30px;}
.logistics{width:760px; height:auto;}
.logistics thead tr td{text-align:center; font-weight:bold; line-height:30px; background:#f3f3f3; border-bottom:1px solid #ccc;}
.logistics tbody tr td{line-height:30px; border-bottom:1px dotted #ccc; padding:0 5px;}
.logistics tbody tr td i{margin-right:5px;}
/*退换货详情css*/
/*申请退换货css样式*/
.service_order_table{width:760px; border:1px solid #ccc; height:auto; margin-bottom:10px; border-top:none 0;}
.service_order_table thead tr{height:30px;line-height:30x; background:url("../images/daohang_back.jpg") repeat-x ;}
.service_order_table thead tr td{text-align:center; font-weight:bold;}
.service_order_table tbody tr td{ padding:5px; border-right:1px solid #ccc;}
.service_order_table tbody tr td ul li{margin-bottom:10px;}
.product_imgs{display:block; height:50px; width:50px; border:1px solid #ccc;}
.product_imgs:hover{border:1px solid #ea9040;}
.service_ul_list{width:758px; height:auto; overflow:hidden;}
.service_ul_list li{overflow:hidden; width:758px; margin-top:15px;}
.block_span,.block_div{display:block; float:left;}
.block_span{width:18%; text-align:right; margin-right:10px; }
.block_span i{padding:0 3px; color:red;}
.block_div{width:77%; overflow:hidden;}
.block_span1{ margin-right:20px;}
.block_span2{color:#999;}
.problem_text{padding:3px;text-align:left; font-size:12px; color:#999;width:530px; height:90px;}
.block_div select{width:90px; margin-right:10px;}
.block_text{width:293px!important; *width:290px;_width:290px;}
.service_btn{width:77%; margin:10px 0 10px 20%;}
/*申请退换货css样式*/
/*数量增减css样式和cate样式表一致*/
.pro_down,.pro_add{display:block;display:inline; float:left; background:url(../images/cate_back.png) no-repeat; width:13px; height:19px; margin-top:1px;}
.pro_down{ background-position:0 -111px;}
.pro_add{ background-position:-14px -111px;}
.pro_text{width:30px; height:17px; text-align:center; line-height:17px; border:1px solid #ccc; float:left; margin-top:1px; display:inline;}
/*数量增减css样式和cate样式表一致*/



/*商品类别左侧导航*/
#help_sidebar {border:1px solid #ccc;border-top:2px solid #e4393c; border-bottom:none;}
#help_sidebar .help_mc {width:203px;background:#FFF;}
#help_sidebar h3 {height:32px; line-height:32px; border-bottom:1px solid #ccc; padding:0 7px 0 10px;color:#666;cursor:pointer;font:normal 12px/30px \5fae\8f6f\96c5\9ed1; width:186px; background:#f9f9f9;}
#help_sidebar .fore h3 {border:none;}
#help_sidebar b {float:right;width:16px;height:16px;margin:7px 8px 0 0;background:url(../images/cate_sq.jpg) no-repeat right;overflow:hidden;cursor:pointer; }
#help_sidebar ul {overflow:hidden;display:block;zoom:1;}
#help_sidebar li {padding-left:25px;height:30px;line-height:30px; border-bottom:1px dotted #ccc; clear:both;}
#help_sidebar li a.on{color:#ff0000; font-weight:bold;}
#help_sidebar li a.on:hover{color:#ff0000;}
#help_sidebar li a{color:#666;}
#help_sidebar li a:hover{color:#ff0000;}
#help_sidebar li span{width:3px; height:3px; background:#999999; display:block; float:left; margin:14px 5px 0 0;}
#help_sidebar .curr a {font-weight:bold;color:#E4393C;}
#help_sidebar .current b {background:url(../images/cate_zk.jpg) no-repeat right;  float:right;}
#help_sidebar .current ul {display:none;}
#help_sidebar h3 strong{float:left;}
/*商品类别左侧导航*/



/*帮助中心css*/
.index_body{ width:980px; overflow:hidden; margin:0 auto 0;}
.help-mian{width:980px; margin:10px auto; overflow:hidden;}
.help-left{width:205px; float:left; margin-right:15px; display:inline;}
.help-right{width:760px; float:left;}
.help_title{width:760px; height:30px; line-height:30px; background:url(../images/safe_line1.jpg) no-repeat left bottom;}
.help_title strong{ font-size:14px; color:#b60005;}
.p_stair,.p_second,.image_text,.p_second_2em,.p_third{ color:#666;}
.p_stair{ line-height:40px; font-weight:bold;}
.p_second,.p_second_2em,.p_third,.p_second_red,.p_second_gray{min-height:30px; padding-left:2%; width:97%; line-height:30px;}
.p_second_2em{ text-indent:2em;}
.p_third{ padding-left:10%; width:89%;}
.p_second_red{color:#ff0000; font-weight:bold;}
.p_second_gray{color:#666666; font-weight:bold;}
.image_text{width:100%; text-align:center; padding:15px 0;}
.news-list li a{color:#343434; display:block;line-height:35px; font-size:14px; border-bottom:1px solid #e5e5e5; padding:0 15px 0 30px;text-align:left; background:url(../images/help_icon1.png) no-repeat 10px center;}
.news-list li a:hover{ background:#f5f5f5 url(../images/help_icon1.png) no-repeat 10px center; color:red;}
/*帮助中心css*/




/*底部帮助中心css*/
.help_sidebar{width:203px; height:auto; border:1px solid #ccc; border-top:2px solid #e3393c; float:left;}
#tagtContent{float:left;  width:760px;height:auto; overflow:hidden;}
.help_sidebar p{ font-size:14px; font-weight:bold;line-height:32px; line-height:32px; border-bottom:1px solid #ccc; color:#666; padding:0 10px;}
#tagts{ padding:0 15px;}
#tagts li{ background:url(../images/help_icon1.jpg) no-repeat left center; height:30px; line-height:30px; border-bottom:1px dotted #ccc; padding-left:10px; cursor:pointer; color:#666;}
#tagts  .selectTag{color:#F87E07;}
.help_lxwm{display:block; margin-top:100px;}
.tagtContent{width:742px; height:auto; padding:8px;}
.about_title{width:740px; height:30px; border-bottom:2px solid #ccc; line-height:35px;}
.about_title strong{border-bottom:2px solid black; display:inline; line-height:30px; margin-bottom:-2px; display:inline-block; zoom:1; font-size:22px; }
.about_title span{ font-weight:600; margin-left:5px;}
.about_content{width:740px; height:auto; overflow:hidden; margin:20px 0 10px;}
.about_text{line-height:23px; color:#3E4141; text-indent:2em;  margin:10px 0 15px;}
.about_contact{margin-bottom:30px;}
.about_contact p{line-height:25px;}
.about_contact h3{line-height:25px;}
.invite_ul li{ background:url(../images/help_icon3.jpg) no-repeat left center; padding-left:20px; line-height:25px; color:#8e8d8d;}
.text_em{ padding-left:24px; line-height:25px;}
.text_content{ border-bottom:1px solid #ccc; padding-bottom:10px; width:700px; margin:0 auto;}
.text_title{margin-bottom:20px; color:#666; text-align:center;}
.text_left{ width:430px; text-align:right; color:#999;}
.share_ic1,.share_ic2,.share_ic3,.share_ic4,.share_ic5,.share_ic6{display:block;float:right; margin-right:5px; display:inline; width:16px; height:16px; background:url(../images/help_icon.jpg) no-repeat;}
.share_ic6{ background-position:0 0;}
.share_ic5{ background-position:-21px 0;}
.share_ic4{ background-position:-42px 0;}
.share_ic3{ background-position:-63px 0;}
.share_ic2{ background-position:-83px 0;}
.share_ic1{ background-position:-105px 0;}
.content_center{ text-align:center; margin-top:15px; padding:0 10px;}
.content_center p{ line-height:25px; text-align:left; text-indent:2em; margin-top:15px;}
.check_out{ padding:0 15px; text-align:right; margin-bottom:10px;}
.check_out p{line-height:25px;}
/*底部帮助中心css*/




/*我的投诉css*/
.cont_ul{height:30px;margin-top:10px;width:470px;float:left;}
.cont_ul li{float:left;margin-right:3px; display:inline;border-radius:3px 3px 0 0; border:1px solid #ccc;border-bottom:none; height:30px;line-height:30px; padding:0 20px; cursor:pointer;}
.cont_li{ color:#ff6600;font-weight:bold; z-index:100;height:35px; background:#fff;}
.cont_body{width:738px;border:1px solid #ccc;height:auto; padding:10px;}
.cont_table{width:100%;}
.cont_table tbody tr td{padding:10px 0;border-bottom:1px solid #e5e5e5;}
.cont_tit{ background:#f4f4f4;height:30px; width:100%;line-height:30px; text-align:center;}
.cont_tit li{float:left; text-align:center;font-weight:bold;}
.cont_dl{width:350px; margin:0 auto; overflow:hidden;}
.cont_dl dt{ float:left;width:60px;height:60px;}
.cont_dl dt a{display:block; border:1px solid #ccc;}
.cont_dl dt a:hover{border:1px solid #ff6600;}
.cont_dl dd{margin-left:10px;float:left;display:inline;width:280px;}
.cont_list{width:100%;height:auto;overflow:hidden;}
.cont_list li{padding:15px 0; overflow:hidden;border-bottom:1px solid #e5e5e5;}
.cont_list li div{float:left; text-align:center; overflow:hidden; }
.cont_Ylist{width:100%;height:auto;overflow:hidden;}
.cont_Ylist li{margin:5px 0;overflow:hidden;line-height:30px; height:30px;}
.cont_Ylist li.grayColor{ background:#f9f9f9;}
.cont_Ylist li div{float:left; text-align:center; overflow:hidden; }
.return_list{width:720px;margin:10px auto 0; background:#f7f7f7; border:1px solid #e5e5e5;}
.return_list tr th{width:100px;line-height:35px;border:1px solid #e5e5e5; text-align:center;}
.return_list tr td{width:130px;line-height:35px;border:1px solid #e5e5e5; padding:0 5px;}
.return_list .li_box{height:40px;line-height:25px; overflow:hidden;width:500px;}
/*我的投诉css*/
/*我的投诉详情css*/
.com_det_hint{width:auto;margin:10px 0; background:#fffdee;border:1px solid #edd28b; line-height:25px;}
.com_linehine{overflow:hidden; border-bottom:1px solid #f2f2f2; margin:0 10px; padding:5px 0;}
.com_linehine pre{width:599px;}
.com_dltext{overflow:hidden;width:760px;margin:10px 0;}
.com_dltext dt{width:70px; float:left; text-align:right; font-weight:bold;}
.com_dltext dd{width:600px; float:left;margin-left:10px;display:inline;}
.com_dltext dd textarea{width:500px;height:160px; padding:5px; line-height:20px;}
.com_dltext dd pre{line-height:30px; color:#999;}
.com_dltext dd pre span{color:#f00;}
/*我的投诉详情css*/


/*新闻列表页*/
.news_title{border-bottom:2px solid #000; line-height:40px;}
.news_tit{line-height:56px; text-align:center;height:56px; overflow:hidden; color:#e43a3d;border-bottom:1px solid #e5e5e5;}
.news_left{float:left;width:205px;}
.news_right{float:left;width:770px;border-left:1px solid #e5e5e5;}
.news_body{width:750px; overflow:hidden;margin:0px 15px 15px; }
.news_box{overflow:hidden; width:auto;float:left;width:750px;}
.news_dl{width:auto; overflow:hidden; height:auto; border-bottom:1px solid #e5e5e5;}
.news_dl h3{line-height:35px;height:35px;overflow:hidden;}
.news_dl dt{float:left; width:165px; margin-right:10px; display:inline;}
.news_dl dd{float:left;width:570px;}
.news_dl dd p{height:auto; line-height:20px;overflow:hidden;margin-bottom:5px;}
.news_dl dd pre{height:20px;}
.news_ul{margin-top:55px;width:205px; position:relative;}
.news_ul li{width:159px; height:35px; padding:0 15px 0 30px;line-height:35px;border:1px solid #fff;border-right:#e5e5e5; background:#fff; cursor:pointer;}
.news_ul li.ontab{ background:url(../images/news_ontab.jpg) no-repeat; position:relative; left:0; top:0;border-right:#fff; width:160px;}
/*新闻列表页*/
/*商家入驻*/
.join_detail{ width:auto;}
.join_detail h4{margin-top:15px;color:#343434;}
.join_detail pre,.join_detail p{line-height:20px; color:#343434;}
.join_step{ background:url(../../BANK-IMG/join_repeat.jpg) repeat-x; height:135px;margin-top:10px; width:auto; padding:10px 10px 10px 80px; position:relative;}
.pos_step{ position:absolute; left:0; top:0;}
.join_step dd{line-height:25px;}
.join_2em{ text-indent:2em; margin:15px 0 25px;color:#343434; line-height:25px;}
/*商家入驻*/



/*帮助中心 css*/
.inline_table{width:100%; border:1px solid #d0ebf9;}
.inline_table thead{ background:#d0ebf9;height:30px; line-height:30px;}
.inline_table thead td{color:#000;}
.inline_table tbody{ background:#f9f9f9;}
.inline_table tbody td{ padding:10px; color:#000;}
.protocol_list{width:100%; height:auto; overflow:hidden;}
.protocol_num,.protocol_main{float:left;}
.protocol_num{width:10%; text-align:center; line-height:25px;font-weight:bold;color:#000;}
.protocol_main{width:90%; line-height:25px; }
.protocol_main input {border:0 none;width:auto; border-bottom:1px solid #000;margin:0 5px;}
/*帮助中心 css*/