<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"
	default-lazy-init="false">
	
	<!-- 读入配置属性文件 -->
	<context:property-placeholder location="classpath:db.properties,classpath:public_system.properties,classpath:mgt_system.properties" 
		ignore-resource-not-found="true" ignore-unresolvable="true"/> 
	
	<!-- 配置需要扫描的包 -->	
	<context:component-scan base-package="cn.qpwa"/>
	
	<mvc:annotation-driven/> 
	
	<mvc:interceptors>
			<mvc:interceptor>
			<mvc:mapping path="/manager/**" />
			<mvc:mapping path="/department/**" />
			<mvc:mapping path="/role/**" />
			<mvc:mapping path="/employee/**" />
			<mvc:mapping path="/credit/**" />
			<mvc:mapping path="/menu/**" />
			<mvc:mapping path="/resource/**" />
			<mvc:mapping path="/welcome/**" />
			<mvc:mapping path="/order/**" />
			<mvc:mapping path="/account/**" />
			<mvc:mapping path="/info/**" />
			<mvc:mapping path="/complaint/**" />
			<mvc:mapping path="/category/**" />
			<mvc:mapping path="/padAdStk/**" />
			<mvc:mapping path="/push/**" />
			<mvc:mapping path="/location/**" />
			<mvc:mapping path="/prom/**" />
			<mvc:mapping path="/donation/**" />
			<mvc:mapping path="/promown/**" />
			<mvc:mapping path="/warehouse/**"/>
			<mvc:mapping path="/mgtDepartment/**"/>
			<mvc:mapping path="/mgtRole/**"/>
			<mvc:mapping path="/PutawayCheck/**"/>
			<mvc:mapping path="/payorder/**"/>
			<mvc:mapping path="/paybill/**"/>
			<mvc:mapping path="/vendorStk/**"/>
			<mvc:mapping path="/paybillDtl/**"/>
			<mvc:mapping path="/coreStkWh/**"/>
			<mvc:mapping path="/mgtSettingDtl/**"/>
			<mvc:mapping path="/userlastlocation/**"/>
			<mvc:mapping path="/statistics/**"/>
			<mvc:mapping path="/orderdifference/**"/>
			<mvc:mapping path="/channelaccount/**"/>
			<mvc:mapping path="/subaccount/**"/>
			<mvc:mapping path="/globalPluMas/**"/>
			<mvc:mapping path="/b2cPromMas/**"/>
			<mvc:mapping path="/addrareachgreq/**"/>
			<mvc:mapping path="/subaccountseq/**"/>
			<mvc:mapping path="/vendorPro/**"/>
			<mvc:mapping path="/userlocationlog/**"/>
			<mvc:mapping path="/merchant/**"/>
			<mvc:mapping path="/operateIndicators/**"/>
			<mvc:mapping path="/custVisit/**"/>
			<mvc:mapping path="/priceBook/**"/>
			<mvc:mapping path="/couponCam/**" />
			<mvc:mapping path="/vendorCust/**" />
			<mvc:mapping path="/impvendorcust/**" />
			<mvc:mapping path="/procedure/**" />
			<mvc:mapping path="/inOutBalanceOfAcc/**" />
			<mvc:mapping path="/test/**" />
			<bean class="cn.qpwa.mgt.web.system.interceptor.SessionInterceptor"
				init-method="init"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**/**" />
			<bean class="cn.qpwa.mgt.web.system.handler.MultiViewHandlerInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<bean id="authorityMapping" class="cn.qpwa.common.web.handler.AuthorityMappingRead">
		<constructor-arg index="0">
			<list>
				<value>classpath:authorityMapping.properties</value>
			</list>
		</constructor-arg>
		<constructor-arg index="1" value="loadAuthorityMap"></constructor-arg>
	</bean>
	
	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
    	<property name="defaultEncoding" value="UTF-8"/> 
    	<property name="maxUploadSize" value="104857600" /> 
    	  <property name="resolveLazily" value="true"/>
	</bean>
	
	<!-- 映射地址和视图展示 -->
	<bean id="portalUrlMapping" class="cn.qpwa.common.web.handler.URLMappingRead">
		<constructor-arg index="0">
			<list>
				<value>classpath:urlMapping.properties</value>
			</list>
		</constructor-arg>
		<constructor-arg index="1" value="loadUrlMap"></constructor-arg>
	</bean>

	<bean id="freemarkerStaticModelsProps"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:freemarkerstatic.properties" />
	</bean>
	
	<bean id="freemarkerStaticModels" class="cn.qpwa.common.web.utils.FreemarkerStaticModels"
		factory-method="getInstance">
		<property name="staticModels" ref="freemarkerStaticModelsProps" />
	</bean>

	<!-- 配置freeMarker视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="contentType" value="text/html; charset=utf-8" />
		<property name="suffix" value="${template.suffix}" />
		<property name="attributesMap" ref="freemarkerStaticModels" />
	</bean>

	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="stringHttpMessageConverter" />
				<ref bean="mappingJacksonHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	<!-- 支持相应为对象，converter会转成json，spring集成的是jaskjson -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
</beans>